# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

/elpa
/backups
network-security.data
recentf
*~
auto-save-list/
/url

.DS_Store
.cache/
**/*.#*
.lsp-session*
transient/
projectile-bookmarks.eld
.dap-breakpoints
**/.#*
eshell/
places
rust-playground/
.extension/